<footer class="main-footer">
    <div class="container">

        <div class="footer-info-box">
            <div class="footer-column">
                <img src="/assets/img/logo/Nazaré-logo.png" alt="Brasão da Paróquia" class="footer-logo">
                <div class="address-details">
                    <h4>Nossa Paróquia</h4>
                    <p>
                        <strong>Rua Pau ferro, 650,  Jardim Eldorado</strong><br>
                        Cep: 78912-500 - Porto Velho (RO)
                    </p>
                </div>
            </div>

            <div class="footer-column">
                <h4>Contatos</h4>
                <p>
                    <i class="fa-solid fa-phone"></i> Telefone: <a href="tel:+556932212270">(69) 3221-2270</a>
                </p>
                <p>
                    <i class="fa-brands fa-whatsapp"></i> WhatsApp: <a href="https://wa.me/556932212270" target="_blank">(69) 3221-2270</a>
                </p>
                <p>
                    <i class="fa-solid fa-envelope"></i> E-mail:<br>
                    <a href="mailto:secretaria@suaparoquia.com.br">secretaria@suaparoquia.com.br</a>
                </p>
            </div>

            <div class="footer-column">
                <h4>Funcionamento</h4>
                <p>
                    <strong>Secretaria Paroquial:</strong><br>
                    Segunda-feira a Sexta-feira:<br>
                    8h às 12h - 14h às 18h
                </p>
                <p>
                    <strong>Sábado:</strong><br>
                    8h às 12h
                </p>
            </div>
        </div>

    <div class="footer-bottom-bar">
        <div class="container">
            <p>&copy; 2025 Paróquia Nossa Senhora de Nazaré. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>