<header class="main-header" id="main-header">
  <div class="container">
    <a href="/" class="logo">
      <img src={`${import.meta.env.BASE_URL}/logo.svg`} alt="logo" />
    </a>

    <nav class="main-nav" id="main-nav">
      <button
        class="close-menu-button"
        id="close-menu-button"
        aria-label="Fechar menu"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
      <ul>
        <li>
          <a href="/pages/comunidades.html">Comunidades</a>
        </li>
        <li><a href="/pages/pastorais.html">Pastorais</a></li>
        <li><a href="/horarios.html">Horários</a></li>
        <li class="dropdown">
          <a href="javascript:void(0);" class="drop-btn">
            Eventos <i class="fa-solid fa-caret-down"></i>
          </a>
          <div class="dropdown-content">
            <a href="/pages/eventos.html?categoria=evento-geral">Eventos Gerais</a>
            <a href="/pages/eventos.html?categoria=missa">Missas</a>
            <a href="/pages/proximos-eventos.html">Próximos Eventos</a>
          </div>
        </li>
        <li>
          <a href="/pages/acampamento.html">Acampamento</a>
        </li>
      </ul>
    </nav>

    <div class="header-right">
      <div class="social-media"></div>
      <button
        class="hamburger-menu"
        id="hamburger-menu-button"
        aria-label="Abrir menu"
      >
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </div>
</header>